/*This defines the margins/height/font of the application*/
.container-3,
.container-2,
body,
html {
  background-color: #f6f6f6;
  height: 100%;
  margin: 0;
  padding-bottom: 40px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    scroll-behavior: smooth;
}
/*This style is used for the up and down scrolling buttons*/
.scrollButton {
  color: white;
  position: fixed;
  right: 2%;
  bottom: 10%;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: block;
  padding: 0;
  margin: 0; 
}
.scrollButton2 {
  color: white;
  position: fixed;
  right: 2%;
  bottom: 20%;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  display: block;
  padding: 0;
  margin: 0; 
}
.scrollButton2 p {
  margin: auto; 
}
/*This styling is used for every button on the application*/
button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #38b2f9;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 24px;
  width: 50%;
}

button:hover,
button:focus {
  background: #3532ff;
}

button:focus {
  /*outline: 1px solid #fff;*/
  outline-offset: -4px;
}

button:active {
  transform: scale(0.99);
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}
/*This is the styling for the main flex container which is used troughout the whole website*/
.container-home {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  flex-basis: 100%;
}
/*This is the styling for the flex container that is used for the headers throughout the whole website*/
.container-1 {
  display: flex;
  flex-basis: 100%;
  height: auto;
  background-color: white;
  align-items: flex-start;
}
/*This is styling for the flex container on the partydetails and municipalityselection pages*/
.container-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  height: auto;
}
/*This is styling for the flex container on the overviewparties page*/
.container-3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-around;
  height: auto;
  padding: 16px;
  margin-top: 16px;
  text-align: center;
}
/*This container is specifically made for the party details page*/
.container-4 {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  margin: 8px;
  border: 2px solid white;
  border-radius: 16px;
}
/*This is the styling for the information about the chosen party*/
.container-5 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: auto;
  text-align: center;
}

/*This is the styling for the 404 page*/
.error-style {
  color: #707070;
  text-align: center;
  font-size: 32px;
  margin-top: 30%;
  font-weight: 400;
}
/*This defines the styling of member pictures container on the 'partymembers' page*/
.member-container {
  flex-basis: 30%;
  flex: -moz-availiab;
  height: auto;
  padding-bottom: 16px;
  text-align: center;
}
/*Defines the styling and placement of the member-container on the votesend page*/
.member-container-1 {
  flex-basis: 100%;
  flex: -moz-availiab;
  height: auto;
  padding-bottom: 16px;
  margin-bottom: 16px;
  text-align: center;
}
/*This defines the styling for the image in the member pictures container*/
.member-container img, .member-container-1 img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 32px;
  border: 2px solid white;
}
/*This is the styling for the partyoverview page*/
.party-container {
  flex-basis: 30%;
  height: auto;
  padding-bottom: 16px;
  text-align: center;
}
/*This is the styling for the images of the partyoverview page*/
.party-container img {
  object-fit: contain;
  width: 100px;
  height: 100px;
  padding-bottom: 5px;
  padding-right: 5px;
  padding-top: 16px;
  text-align: center;
}
/*This defines the styling and spacing for the municipality buttons*/
.box-mun-button {
  width: 94%;
  text-align: center;
  padding: 2%;
  justify-content: space-around;
  margin-bottom: 2%;
  margin-top: 2%;
}
/*This is a child of grid-container, this also specifies the width and spacing for the logo*/
.header-logo {
  flex-basis: 40%;
  font-weight: 600;
  text-align: center;
  padding: 2%;
  /* border-right: 1px solid #a1a1a1; */
}
/*This is the styling for the (icon) button in the header*/
.header-back {
  flex-basis: 60%;
  text-align: right;
  padding: 2%;
}
.header-back button {
  width: 275px;
}
/*This defines the styling for the logo*/
.gray-text,
.blue-text {
  font-size: 50px;
}
/*Defines the placement of the home text on the home*/
.home-text {
  margin: 10%;
}
/*Sets the gray color of the logo text*/
.gray-text {
  color: #707070;
}
/*Sets the blue color of the logo text*/
.blue-text {
  color: #38b2f9;
}
/*Defines the size and placement of the home button*/
.home-button {
  width: 700px;
  text-align: center;
}
/*Defines the size of the vote-button on the homepage*/
.vote-button {
  width: 200px;
}
/*Defines the style of the party leader picture div*/
.partyleader-picture {
  text-align: center;
  flex-basis: 30%;
}
/*This is the styling for the party member pictures on the partydetails page*/
.partyleader-picture img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 32px;
  border: 2px solid white;
}
/*This defines the styling for the partyleader name next to the img*/
.partyleader-name {
  flex-basis: 70%;
  color: white;
  font-size: 24px;
  text-align: center;
  font-weight: 600;
}
/*Puts spacing between the 2 spans used for the logo, its done this way so we can change the logo easily*/
.partyleader-name span {
  margin-right: 4px;
}
/*Defines the styling for the information of the specific party*/
.party-info-title {
  color: #707070;
  font-weight: 600;
  font-size: 24px;
  background-image: linear-gradient(315deg, #63a4ff 0%, #83eaf1 74%);
  background-position: 0 100%;
  background-size: 100% 3px;
  background-repeat: repeat-x;
  width: 50%;
  margin-top: 16px;
}
/*Defines the styling and placement of the party info text on the partydetails page*/
.party-info-text {
  font-size: 20px;
  margin-top: 4%;
  flex-basis: 100%;
  padding: 16px;
  text-align: left;
  padding-left: 25%;
  padding-right: 25%;
  margin: 0;
}
/*Defines the placement of the h1*/
h1 {
  margin-top: 64px;
  text-align: center;
}
/*Defines the placement of the 'back' button found in the header*/
.return-home-button {
  text-align: center;
  margin-top: 32px;
}
/*Defines the styling and placement of the text on thanks page*/
.timer-text {
  text-align: center;
  font-weight: 600;
  margin-top: 16px;
}
/*Defines the styling of the input where the user puts in the unique code on the verification page*/
.code-input-style {
  color: #707070;
  text-align: center;
  font-size: 32px;
  margin-top: 16%;
  font-weight: 400;
  flex-basis: 100%;
}
input[type="text"] {
  padding: 10px;
  border: 0;
  box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  text-align: center;
  width: 250px;
  font-size: 24px;
}
/*Defines the placement of the code input*/
.code-char-input {
  margin: 16px;
}
/*This defines the styling if the user puts in a non existing or already used code*/
.code-error-message {
  text-align: center;
  margin: 24px;
  font-weight: 400;
  font-size: 24px;
  color: #ed4337;
}
/*This defines the styling and placement of */
.member-name {
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  padding-bottom: 64px;
}
/*This class allows you to center an element*/
.text-center {
  text-align: center;
  flex-basis: 100%;
}
/*This class is for the footer styling*/
.footer {
  position: fixed;
  padding: 8px 0px 0px 10px;
  bottom: -26px;
  width: 100%;
  /* Height of the footer*/ 
  height: 40px;
  background: #ededed;
  text-align: center;
  color: #707070;
}