# deze lijn zorgt er voor dat de gebruiker naar de juiste error pagina word verzonden
ErrorDocument 400 /Project-Stemwijzer/404.php
ErrorDocument 401 /Project-Stemwijzer/404.php
ErrorDocument 402 /Project-Stemwijzer/404.php
ErrorDocument 403 /Project-Stemwijzer/404.php
ErrorDocument 404 /Project-Stemwijzer/404.php
ErrorDocument 405 /Project-Stemwijzer/404.php
ErrorDocument 406 /Project-Stemwijzer/404.php
ErrorDocument 407 /Project-Stemwijzer/404.php
ErrorDocument 408 /Project-Stemwijzer/404.php
ErrorDocument 409 /Project-Stemwijzer/404.php
ErrorDocument 410 /Project-Stemwijzer/404.php
ErrorDocument 411 /Project-Stemwijzer/404.php
ErrorDocument 412 /Project-Stemwijzer/404.php
ErrorDocument 413 /Project-Stemwijzer/404.php
ErrorDocument 414 /Project-Stemwijzer/404.php
ErrorDocument 415 /Project-Stemwijzer/404.php
ErrorDocument 416 /Project-Stemwijzer/404.php
ErrorDocument 417 /Project-Stemwijzer/404.php
ErrorDocument 422 /Project-Stemwijzer/404.php
ErrorDocument 423 /Project-Stemwijzer/404.php
ErrorDocument 424 /Project-Stemwijzer/404.php
ErrorDocument 426 /Project-Stemwijzer/404.php
ErrorDocument 428 /Project-Stemwijzer/404.php
ErrorDocument 429 /Project-Stemwijzer/404.php
ErrorDocument 431 /Project-Stemwijzer/404.php
ErrorDocument 451 /Project-Stemwijzer/404.php
ErrorDocument 500 /Project-Stemwijzer/404.php
ErrorDocument 501 /Project-Stemwijzer/404.php
ErrorDocument 502 /Project-Stemwijzer/404.php
ErrorDocument 503 /Project-Stemwijzer/404.php
ErrorDocument 504 /Project-Stemwijzer/404.php
ErrorDocument 505 /Project-Stemwijzer/404.php
ErrorDocument 506 /Project-Stemwijzer/404.php
ErrorDocument 507 /Project-Stemwijzer/404.php
ErrorDocument 508 /Project-Stemwijzer/404.php
ErrorDocument 510 /Project-Stemwijzer/404.php
ErrorDocument 511 /Project-Stemwijzer/404.php